@import '../../../styles/variables';
.window {
  min-width: 220px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid $border-color-dark;
  position: absolute;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  padding: $horizontal-spacing-default;

}
