@import '../../../styles/variables';
.menu {

}

.menu-item {
  position: relative;
  padding-top: $vertical-spacing-default ;
  padding-bottom: $vertical-spacing-default ;
  > div {
    margin: (-$vertical-spacing-default) (-$horizontal-spacing-default);
    padding: $vertical-spacing-default $horizontal-spacing-default
  }
}
