// Font sizes.
$header-big-size: 1.5rem;
$header-med-size: 1.3rem;
$header-small-size: 1.1rem;

$header-big-weight: bold;
$header-med-weight: normal;
$header-small-weight: thin;

$header-letter-spacing: 0.05rem;

$text-regular-size: 0.9rem;



$horizontal-spacing-default: 15px;
$horizontal-spacing-small: 5px;
$vertical-spacing-default: 15px;


$button-color-hover: #dedede;




$border-color-default: #e4e4e4;
